<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-sdk android:minSdkVersion="29"/>
    <application
        android:name=".application.SecretSequenceApplication"
        android:icon="@drawable/icon_secret_sequence"
        android:label="@string/app_name">

        <activity
            android:name=".presentation.SecretSequenceActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

    </application>

</manifest>